.Logo {
  --color: #3F4853;
  display: flex;
  align-items: center;
}

.Logo-media {
  width: 20px;
  display: grid;
  grid-template-columns: 8px 8px;
  grid-template-rows: 8px 8px;
  grid-row-gap: 4px;
  grid-column-gap: 4px;
}

.Logo-block {
  background-color: var(--color);
}

.Logo-link {
  @apply text-base;
  color: var(--color);
  text-decoration: none;
  font-weight: bold;
}
